.individual-pricing {
  margin: 0 auto;
  padding: 4rem 1rem;
  background-image: url('/assets/atahualpa-studio-recording.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

.individual-pricing::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.individual-pricing .section {
  position: relative;
  z-index: 1; /* encima del overlay */
  margin: 0 auto 5rem auto;
  color: white;
}

.individual-pricing h2 {
  margin-bottom: 2rem;
}

.pricing-grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .pricing-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pricing-card {
  display: flex; /* Hacemos que la card sea un contenedor flex */
  flex-direction: column; /* Elementos en columna */
  justify-content: space-between; /* Espacio entre el contenido y el botón */
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.offer-tag {
  display: inline-block;
  background-color: white; /* Color de fondo llamativo */
  color: black; /* Color del texto */
  padding: 0.25rem 0.75rem; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 0.85rem; /* Tamaño de fuente más pequeño */
  margin-bottom: 1rem; /* Espacio debajo de la etiqueta */
}

.pricing-card h4 {
  margin-bottom: 0.5rem;
  color: #222;
  text-align: center;
}

.price {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: rgb(74, 0, 74);
  text-align: center;
}

.pricing-card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
  flex-grow: 1; /* Para que ocupe todo el espacio disponible y empuje el botón hacia abajo */
}

.pricing-items {
  text-align: left;
  color: black;
  font-size: 0.8rem;
  ul li {
    margin: 0 0 15px;
  }
}
