.navbar {
  background-color: white;
  border-bottom: 1px solid black;
}

.navbar-content {
  display: flex;
  justify-content: space-between; /* Logo a la izquierda, links a la derecha */
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a,
.nav-links a:hover {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.2rem;
}

.nav-links a:hover {
  border-bottom: 2px solid black;
}

.nav-link.active {
  border-bottom: 2px solid black;
  cursor: default;
  pointer-events: none;
}
