.lecons {
  position: relative;
  background-image: url('/assets/atahualpa-studio-lecons.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden; /* para evitar que el overlay se salga */
  min-height: 500px; /* ajusta según convenga */
  padding: 3rem 0;
}

.hero-text {
  max-width: 800px;
  margin: 0 auto 1rem;
  text-shadow: 1px 1px 2px black;
}

.lecons::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8); /* overlay negro */
  z-index: 1;
  pointer-events: none;
}

.lecons-container {
  position: relative; /* para estar sobre el overlay */
  z-index: 2;

  gap: 20px;
  color: white;
  text-align: left;
}

.lecons-container p {
  text-align: left;
}

.intro {
  max-width: 700px;
  margin: 0 auto 2rem;
  color: #444;
  line-height: 1.6;
}

.lesson-boxes {
  display: grid;
  gap: 4rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .lesson-boxes {
    grid-template-columns: 1fr 1fr;
  }
}

.lesson-card {
  background: #f9f9f9;
  opacity: 0.9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.lesson-card h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #222;
}

.lesson-card p {
  margin-bottom: 1.2rem;
  color: #555;
  line-height: 1.5;
  font-size: 1rem;
}

.btn-secondary {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  background: rgb(99, 0, 99);
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s ease;
}

.btn-secondary a {
  text-decoration: none;
}

.btn-secondary:hover {
  background: #4c255d;
}
