.videos-container {
  position: relative; /* para estar sobre el overlay */
  z-index: 2;
  max-width: 700px;
  margin: 0 auto;
  color: black;
  padding: 1rem;
}
.videos-container iframe {
  width: 100%;
  height: 300px;
  border: none;
}

.videos-container h2 {
  color: black;
  margin-bottom: 3rem;
}

.videos-container h3 {
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  color: white;
}

.stage-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas en desktop */
  gap: 2rem;
  max-width: 960px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .stage-grid {
    grid-template-columns: 1fr; /* 1 columna en mobile */
  }
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 columna para mobile */
  }
}

.stage-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: rgb(185, 143, 185);
  padding: 20px;
  color: black;
  text-align: center;
  border-radius: 8px;
}

.icon {
  font-size: 2rem;
}

.stage-title {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.faq-container {
  position: relative; /* para estar sobre el overlay */
  z-index: 2;
  max-width: 700px;
  margin: 0 auto;
  padding: 4rem 1rem;
  gap: 20px;
  color: black;
  text-align: left;
}
