.offers-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .offers-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 2rem 1rem;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.offer-card.highlight {
  border: 2px solid #000;
  transform: scale(1.02);
}

.offer-content {
  text-align: center;
}

.offer-icon {
  font-size: 2.5rem;
  margin-bottom: 0rem;
}

.offer-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black;
}

.offer-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(99, 0, 99);
}

.offer-subprice {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.offer-description {
  font-size: 0.8rem;
  color: #444;
  line-height: 1.4;
  text-align: left;
}

.offer-button {
  margin-top: 1.5rem;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition:
    background 0.2s,
    opacity 0.2s;
}

.offer-reserve {
  background-color: white;
  color: rgb(99, 0, 99);
  border: 4px solid rgb(99, 0, 99);
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.18);
}

.offer-reserve:hover {
  background-color: rgb(99, 0, 99);
  color: white;
}

.offer-button:hover {
  opacity: 0.9;
}

.offers-note {
  margin-top: 3rem;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  color: white;
}

.offers-note h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.offers-note p {
  font-size: 0.95rem;
}

.offer-items {
  color: black;
  font-size: 0.8rem;
  text-align: left;
}
